.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: yellow;
}

.title {
  font-size: 10rem;
}

.cursor {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.imageRevealSlider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  user-select: none;
  pointer-events: none;
}

.link {
  width: 100%;
  height: 100%;
  display: block;
}
