@use '../mixins.scss' as *;

.grid {
  width: 100%;
}

.gridItem {
  display: flex;
  flex-direction: column;
  color: inherit;
  text-decoration: none;
  min-width: 0;
}

.gridItemImage {
  width: 100%;
  display: block;
  flex-shrink: 0;
}

.gridItemContent {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.gridItemTitle,
.gridItemSubtitle,
.gridItemDescription {
  min-width: 0;
}
